body{
	background-color: #546A76;
	justify-content: center;
	margin: 0;
	display: flex;
	align-items: center;
	height: 100vh;
	font-family: Arial, sans-serif;
	padding: 0;
	align-items: center;
}
.register{
	background-color: #88A0A8;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	width: 400px;
	max-width: 80%;
	text-align: center;
	height: auto;
	
}
form{
	text-align: center;
	margin: 0;
}
h2{
	color: #000;
}
label{
	display: block;
	margin-bottom: 8px;
	color: #000;
	font-weight: bold;
}
input[type="text"],input[type="email"],input[type="password"]{
	width: 100%;
	padding: 8px;
	margin-top: 5px;
	margin-bottom: 10px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px;

}
input[type="radio"]{
	margin-top: 5px;
	margin-bottom: 10px;
}
input[type="submit"]{
	width: 100%;
	padding: 12px;
	background-color: #333333;
	color: #fff;
	cursor: pointer;
}
input[type="submit"]:hover{
	background-color: #555555;
}