<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel=stylesheet type=text/css th:href="@{/addcourse.css}">
<title>Add Course</title>
</head>
<body>
	<div class="addcourse">
		<form action="savecourse" method="post">
			<h1>Add Course</h1>
			<label for="name">Name:</label> <input type="text" id="name"
				name="name" required /><br /> <br> <label for="description">Description:</label>
			<input type="text" id="description" name="description"><br />
			<br> <label for="category">Category:</label> <input type="text"
				id="category" name="category"><br /> <br> 
				<!-- <label
				for="thumbnail">Thumbnail:</label> <input type="text" id="thumbnail"
				name="thumbnail" /><br /> <br> -->
				 <label for="status">Status:</label>
			<input type="text" id="status" name="status"><br /> <br>
			<button type="submit">Add Course</button>
		</form>
	</div>
</body>
</html>
