<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel=stylesheet type=text/css th:href="@{/adminhome.css}">
<title>Admin Home</title>
</head>
<body>
	<div class="container">
		<h1>Admin Home</h1>
		<form action="createcourse">
			<input type="submit" value="CREATE COURSE">
		</form>
		<br>
		<form action="addlesson">
			<input type="submit" value="CREATE LESSON">
		</form>
		<br>
		<!--  <form action="viewlessons">
			<input type="submit" value="VIEW LESSON">
		</form> -->
		<br>
		<form action="viewcourses">
			<input type="submit" value="VIEW COURSES">
		</form>
		<br>
		<form action="logout">
			<input type="submit" value="LOGOUT">
		</form>
	</div>
</body>
</html>